@import '../../../public/styles/index.scss';

$size: 0.875rem;

@mixin stepStyle($background, $number) {
  width: $size;
  height: $size;
  background-color: rgba($color: $background , $alpha: $number);
  border-radius: 50%;
  cursor: pointer;
}

._stepper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

._step {
  @include stepStyle($black, 0.16);
}

._currentStep {
  @include stepStyle($doveGray, 1);
}

@include responsive(md) {
  ._step {
    width: 0.875rem;
    height: 0.875rem;
  }

  ._currentStep {
    width: 0.875rem;
    height: 0.875rem;
  }
}
