@import '@styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin: auto;
  flex-direction: column;
}

._main {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

._header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._title{
  font-family: $blackerTextHeavyBold;
  font-size:$blackerTextHeavyBold60;
  color: $black;
  margin-bottom: 1rem;
}

._subtitle{
  font-family: $montserratMedium;
  font-size: $montserratMedium18;
  color: $mineShaft;
  margin-bottom: 1rem;
}
._shopContainer{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

._filterContainer{
  width: 20%;

}

._productContainer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

._cardContainer{
  display: grid !important;
  grid-template-columns: repeat(3, 1fr,) !important;
  width: 100%;
}

._card{
  width: 14.5rem;
  margin: 1.5rem auto;
}

._filterTitle{
  font-family: $montserratSemiBold;
  font-size: $montserratExtraBold22;
  color: $black;
}
._input {
  @include generalInput($alto);
  font-size: $montserratBold16;
}

._inputParent {
  position: relative;
  & label {
  padding-left: 0.7rem;
  font-family: $montserratRegular;
  font-size: $montserratBold16;
  }

  &:nth-child(2) {
    margin: 1.2rem 0;
  }
}
._imageParent {
  position: absolute;
  cursor: pointer;
  right: 0.8rem;
  top: 16px;
}

@include responsive(lg) {


}

@include responsive(md) {


}

@include responsive(sm) {


}

