@import '../../../public/styles/index.scss';

._parent {
  border-radius: 1.875rem;
  box-shadow: 10px 10px 10px $gallery;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: block;
  position: relative;

  & h3 {
    font-family: $blackerTextHeavy;
    margin-top: 7%;
    color: $mineShaft;
    font-size: $blackerTextHeavy20;
  }

  & p {
    color: $gray;
    font-family: $montserratRegular;
    font-size: $montserratRegular12;
    margin: 4% 0;
  }
}

._sectionParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9%;

  & p {
    font-family: $montserratBold;
    font-size: $montserratBold16;
    color: $mineShaft;
  }
}

._image{
  width: 100%;
  height: 150px;
  object-fit: contain;
}

._imageParent{
width: 100%;
height: 100%;
 }

._btnParent {
  width: 7.5rem;
}

@include responsive(md) {
  ._btnParent {
    width: 4.925rem;
  }
}

._icon {
  $size: 16px;
  position: absolute;
  right: 8%;
  top: 8%;
  width: $size;
  height: $size;
}
