@import '../../../public/styles/index.scss';

._parent {
  border-radius: 1.875rem;
  box-shadow: 10px 10px 10px $gallery;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 21.875rem;
  position: relative;

  & h3 {
    font-family: $montserratExtraBold;
    margin-top: 7%;
    color: $mineShaft;
    font-size: $montserratExtraBold18;
    align-self: flex-start;
    height: 2.5rem;
  }

  & p {
    color: $gray;
    font-family: $montserratRegular;
    font-size: $montserratRegular12;
    margin: 4% 0;
    align-self: flex-start;
  }
}
._textContainer {
  height: 5rem;
  overflow: hidden;
}

._sectionParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9%;
  width: 100%;

  & p {
    font-family: $montserratBold;
    font-size: $montserratBold16;
    color: $mineShaft;
  }
}

._image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

._imageParent {
  width: 100%;
  height: 100%;
}

._btnParent {
  width: 7.5rem;
}

@include responsive(md) {
  ._btnParent {
    width: 4.925rem;
  }
  ._parent {
    padding: 1rem;
    min-height: 20.875rem;

    & h3 {
      font-size: 0.875rem;
    }
  }
  ._sectionParent {
    margin-top: 3%;
  }
}

._icon {
  $size: 16px;
  position: absolute;
  right: 8%;
  top: 8%;
  width: $size;
  height: $size;
}
