@import '../../../public/styles/index.scss';

._main {
  display: inline-flex;
  max-width: 75rem;
  box-shadow: 8px 12px 16px $mercury;
  border-radius: 20px;
}

._iconParent {
  margin-right: 1rem;
}

._itemParent {
  display: flex;
  margin-top: 1.2rem;

  & p {
    font-family: $montserratRegular;
    font-size: 0.8rem;
  }

  & p:first-child {
    font-family: $montserratBold;
    margin-bottom: 0.1rem;
  }
}

._leftSection {
  box-shadow: 8px 12px 16px $mercury;
  padding: 3rem 3.5rem 1rem 3.5rem;
  box-sizing: border-box;
  border-radius: 1.875rem;
  width: 45%;

  & h1 {
    font-family: $blackerTextHeavyBold;
    font-size: 1.8rem;
  }
}

._rightSection {
  padding: 3rem 3.5rem 1rem 3.5rem;
  width: 100%;

  & h1 {
    font-family: $blackerTextHeavyBold;
    font-size: 1.8rem;
  }
}

._textParent {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

._socialMediaParent {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & div {
    cursor: pointer;
  }

  & div:not(:last-child) {
    margin-right: 1rem;
  }
}

._marginBottom {
  margin-bottom: 2.5rem;
}

._rightMain {
  display: flex;
  width: 100%;
}

._buttonsParent {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.2rem;
}

._leftSide {
  width: 60%;
}

._btnParent {
  width: 7.5rem;
}

._inputParent {
  width: 100%;
  & label {
    padding-left: 0.7rem;
    font-family: $montserratRegular;
    font-size: 0.9rem;
  }
}

._inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2rem;
}

._input {
  margin-top: 0.5rem;
  border: solid 1px $alto;
  border-radius: 1.25rem;
  width: 100%;
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  font-family: $montserratRegular;
  box-sizing: border-box;
}


._textArea {
  border: solid 1px $alto;
  border-radius: 1.25rem;
  width: 100%;
  padding: 0.8rem;
  box-sizing: border-box;
  font-family: $montserratRegular;
  margin-top: 1.2rem;
  height: 17rem;
  min-height: 17rem;
  min-width: 100%;
}

._rightSide {
  width: 40%;
  margin-left: 1.5rem;
}

._textAreaParent {
  position: relative;
  width: 100%;
}

._paperClipParent {
  position: absolute;
  right: 0.938rem;
  bottom: 0.938rem;
  cursor: pointer;
}

._termsText {
  font-family: $montserratRegular;
  font-size: 0.55rem;
}

._termsParent {
  margin-top: 0.4rem;
}

._sendBtn {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

@include responsive(lg) {

  ._main {
    display: block;
    width: 90%;
  }

  ._leftSection {
    width: 100%;
  }
}
