@import '../../../public/styles/index.scss';

._numberParent {
  display: flex;
  align-items: center;
}

._circle {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border-radius: 50%;
  cursor: pointer;

  & p {
    color: $white;
    font-family: $montserratRegular;
    font-size: $montserratMedium19;
    font-weight: bold;
  }
}

._input {
  border: solid 1px $black;
  border-radius: 1.25rem;
  width: 2rem;
  padding: 0.1rem 0.5rem;
  height: 1.1rem;
  background-color: transparent;
  font-family: $montserratRegular;
  text-align: center;
  margin: 0 0.4rem;
  font-weight: 500;
}
