@import '../../../public/styles/index.scss';

._main {
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: rgba(0,0,0,0.5);
  z-index: 996;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

._modal{
  display: inline-flex;
  max-width: 75rem;
  border-radius: 2.375rem;
  background-color:$pampas;
  height: 85vh;
}

._hidden {
  display: none;
}

._iconParent {
  margin-right: 1rem;
}

._leftSection {
  box-shadow: 0px 0px 14px $mercury;
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 2.375rem;
  width: 45%;
  background-color: $pampas;
  height: 85vh;

  & h1 {
    font-family: $blackerTextHeavyBold;
    font-size: 1.8rem;
  }
}


._rightSection {
  padding: 2.5rem;
  width: 100%;

  & h1 {
    font-family: $blackerTextHeavyBold;
    font-size: 1.8rem;
  }
}


._rightMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

._inputParent {
  width: 100%;
  & label {
    padding-left: 0.7rem;
    font-family: $montserratRegular;
    font-size: 0.9rem;
  }
}


._inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2rem;
}

@mixin input($borderColor) {
  margin-top: 0.5rem;
  border: solid 1px $borderColor;
  border-radius: 1.25rem;
  width: 100%;
  height: 2.1rem;
  padding: 0 0.8rem;
  background-color: transparent;
  font-family: $montserratRegular;
  box-sizing: border-box;
}

._input {
  @include input($alto)
}

._inputError {
  @include input($red)
}

._title {
  font-size: 1.8rem;
  font-family: $blackerTextHeavyBold;
}

._closeParent {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


._stepData{
  background-color: $timberWolf;
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;

  & p {
    font-family: $montserratRegular;
    font-size: $montserratRegular16;
    align-self: center;
  }
}
._checkParent {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;

  & p {
    font-family: $montserratRegular;
    margin-left: 0.7rem;
    font-size: $montserratRegular16;
  }
}

._radioBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  background-clip: content-box;
  border: 2px solid $black;
  background-color: trasparent;
  border-radius: 50%;
}

._leftBody{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

