@import '../../../public/styles/index.scss';

._parent {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.6);
  z-index: 998;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._modal {
  background-color: $white;
  border-radius: 2.375rem;
}

@include responsive(lg) {
  ._modal {
    width: 90%;
    margin: 0 auto;
  }
}
