@import '../../../public/styles/index.scss';

._parent {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.6);
  z-index: 998;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._modal {
  background-color: $white;
  border-radius: 20px;
  box-shadow: 8px 12px 18px $boulder;
}
