@import '@styles/index.scss';

._dropDown {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $pampas;
  height: 2.3rem;
  width: 220px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

._drop {
  background-color: $pampas;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  // padding: 0 0.8rem;
  position: absolute;
  width: 100%;
  top: 30px;
}

._dropDownContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  & p {
    color: $black;
    font-family: $montserratMedium;
    font-size: $montserratRegular14;
    text-align: left;
  }
}
._arrowContainer {
  margin-right: 1rem;
}
._dropTitle {
  font-family: $montserratMedium;
  font-size: $montserratMedium14;
  margin-left: 1rem;
  text-align: left;
}

._checkParent {
  display: flex;
  align-items: center;

  & p {
    font-family: $montserratRegular;
    margin-left: 0.7rem;
    font-size: $montserratBold16;
  }
}

._radioBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  min-width: 0.75rem;
  min-height: 0.0.75rem;
  padding: 0.1rem;
  background-clip: content-box;
  border: 2px solid $black;
  background-color: trasparent;
  border-radius: 50%;
  margin: 0;

  &:checked {
    background-color: $black;
  }
}

._filterTitle {
  font-family: $montserratBold;
  font-size: $montserratBold14;
  color: $black;
  margin-left: 1rem;
}

._checkContent {
  display: flex;
  margin-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

@include responsive(md) {
  ._dropDown {
    height: 2.5rem;
    width: 170px;
  }

  ._drop {
    padding-top: 0.5rem;
  }
}
