@import '@styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin: auto;
  flex-direction: column;
}

._title{
  font-family: $blackerTextHeavyBold;
  font-size:$blackerTextHeavyBold60;
  color: $black;
  width: 90%;
  margin-bottom: 3rem;
}

._textContent{
  font-family: $montserratMedium;
  font-size:$montserratMedium18;
  color: $black;
  width: 70%;
}

._road{
  margin-top: 8rem;
  width: 100%;

}
._roadContainer{
  display: flex;
  margin: 2rem auto;
}
._imageRightContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  height: 720px;
}

._imageLeftContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
  height: 720px;
}


._image{

width: 100%;

}

._textLeftContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  padding-left: 70px;
  height: 720px;
}

._textRightContainer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 45%;
  padding-right: 70px;
  height: 720px;
}


._linetwo::after{
  content: '';
  width: 25px;
  height: 25px;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top:-14px;
}
._linetwo::before{
  content: '';
  width: 25px;
  height: 25px;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  border-radius: 50%;
  top: -14px;
  z-index: 1;
}

._linetwo{
  width: 100%;
  height: 3px;
  background-color: black;
  position: relative;
  transform: rotate(90deg);

}

._lineFather{
  position:absolute;
  width:751px;
  transform: translateX(-50%);
  left: 50%
}

._lineFatherTwo{
  position:absolute;
  width:751px;
  transform: translateX(-50%);
  left: 50%
}

._rightHistory{
display: flex;
}

._leftHistory{
  display: flex;
}

@include responsive(xxxl) {
  ._imageLeftContainer{
    height: 700px;
  }
  ._imageRightContainer{
    height: 700px;
  }
  ._textLeftContainer{
    height: 700px;
  }
  ._textRightContainer{
    height: 700px;
  }
  ._lineFatherTwo{
    width: 731px;
  }
  ._lineFather{
    width: 731px
  }

}


@include responsive(xxl) {
  ._imageLeftContainer{
    height: 590px;
  }
  ._imageRightContainer{
    height: 590px;
  }
  ._textLeftContainer{
    height: 590px;
  }
  ._textRightContainer{
    height: 590px;
  }
  ._lineFatherTwo{
    width: 621px;
  }
  ._lineFather{
    width: 621px
  }

}



@include responsive(xl) {

  ._imageLeftContainer{
    height: 520px;
  }
  ._imageRightContainer{
    height: 520px;
  }
  ._textLeftContainer{
    height: 520px;
  }
  ._textRightContainer{
    height: 520px;
  }
  ._lineFatherTwo{
    width: 551px;
  }
  ._lineFather{
    width: 551px
  }

  ._title{
    font-size:2.5rem
  }

  ._textContent{
    width: 80%;
  }
}

  @include responsive(lg) {

    ._imageLeftContainer{
      height: 430px;
    }
    ._imageRightContainer{
      height: 430px;
    }
    ._textLeftContainer{
      height: 430px;
    }
    ._textRightContainer{
      height: 430px;
    }
    ._lineFatherTwo{
      width: 461px;
    }
    ._lineFather{
      width: 461px
    }
    ._title{
      font-size:2.5rem
    }

    ._textContent{
      width: 80%;
    }
    }


@include responsive(md) {

  ._content{
    justify-content: center;
    align-items: center;
  }
  ._road{
    margin-top: 6rem;
  }

  ._roadContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ._title{
    align-self: flex-start;
    width: 80%;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  ._imageLeftContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 1rem;
  }
  ._imageRightContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 1rem;
  }
  ._textLeftContainer{
    width: 100%;
    padding-left: 0;
    height: 100%;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  ._textRightContainer{
    width: 100%;
    align-items: flex-start;
    padding-right: 0;
    height: 100%;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  ._textContent{
    width: 100%;
  }

  ._leftHistory{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ._rightHistory{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  ._lineFather{
    display: none;
  }
  ._lineFatherTwo{
   display: none;
  }


}


