@import '@styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin: auto;
  flex-direction: column;
}

._imageContainer{
  display: flex;

}

._image{
  height: 500px;
}


