@import '@styles/index.scss';

._content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  flex-direction: column;
  margin: 2.5rem auto;
}

._imageContainer,
._imageResponsiveContainer {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}

._imageResponsiveContainer {
  display: none;
}

@include responsive(md) {
  ._imageResponsiveContainer {
    display: block;
  }
  ._imageContainer {
    display: none;
  }
}
