@import '../../../../../public/styles/index.scss';

._titleParent {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

._title {
  font-size: 1.8rem;
  font-family: $blackerTextHeavyBold;
  text-align: center;
}

._rightMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  height: calc(85vh - 240px);
}

._inputParent {
  width: 100%;
  & label {
    padding-left: 0.7rem;
    font-family: $montserratRegular;
    font-size: 0.9rem;
  }
}

._itemParent {
  display: flex;
  margin-top: 1.2rem;

  & p {
    font-family: $montserratRegular;
    font-size: 0.8rem;
  }

  & p:first-child {
    font-family: $montserratBold;
    margin-bottom: 0.1rem;
  }
  & a {
    font-family: $montserratRegular;
    font-size: 0.8rem;
    text-decoration: underline;
    :active {
      text-decoration: none;
      a.nostyle:link {
        text-decoration: inherit;
        color: inherit;
      }
    }
  }
}

._inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2rem;
}

._inputDateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

._halfWidth {
  width: 48%;
}

._quarterWidth {
  width: 30%;
}

._quarterWidth {
  width: 30%;
}
._threeQuarterWidth {
  width: 68%;
}

._marginBottom {
  margin-bottom: 1rem;
}

._iconParent {
  margin-right: 1rem;
}

@mixin input($borderColor) {
  border: solid 1px $borderColor;
  border-radius: 1.25rem;
  width: 100%;
  height: 2.1rem;
  padding: 0 0.8rem;
  background-color: transparent;
  font-family: $montserratRegular;
  box-sizing: border-box;
}

._input {
  @include input($alto);
}

._inputError {
  @include input($red);
}

._inputDate {
  @include input($alto);
}

._buttonContainer {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

._btnParent {
  width: 120px;
}

._deliveryTitle {
  font-family: $montserratBold;
  font-size: $montserratBold18;
  color: $mineShaft;
  margin-left: 1.5rem;
}

._paymentTitle {
  font-family: $montserratBold;
  font-size: $montserratBold18;
  color: $mineShaft;
}

._checkParent {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

._radioBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  padding: 0.1rem;
  background-clip: content-box;
  border: 2px solid $black;
  background-color: trasparent;
  border-radius: 50%;
  margin: 0;
  margin-right: 0.7rem;

  &:checked {
    background-color: $black;
  }
}

._radioTitle {
  font-size: $montserratMedium16;
  font-family: $montserratMedium;
  color: $black;
}

._deliveryType {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 1rem;
  overflow: auto;
}
._tdcContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 1rem;
}
._messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin-left: 1rem;
  overflow: auto;
}

._radioContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

._firstRow {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}

._addressCheckbox {
  margin-left: 1rem;
}

._addressTitle {
  font-size: $montserratMedium14;
  font-family: $montserratMedium;
  color: $black;
}
._addressSubtitle {
  font-size: $montserratMedium10;
  font-family: $montserratMedium;
  color: $mineShaft;

  margin-top: 0.5rem;
}

._addressDescription {
  display: flex;
  flex-direction: column;
}
._list {
  padding: 0;
}
._listItem {
  font-size: $montserratRegular16;
  font-family: $montserratRegular;
  color: $mineShaft;
  list-style: none;
}

._advicesItem {
  font-size: $montserratRegular14;
  font-family: $montserratRegular;
  color: $mineShaft;
  list-style: none;
  margin: 0.5rem 0px;
}

._advicesItemBold {
  font-size: $montserratBold16;
  font-family: $montserratBold;
  color: $mineShaft;

  margin-top: 0.5rem 0;
}

._advices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}

._link {
  p {
    margin: 0.5rem 0;
    font-weight: 100;
  }
}

@include responsive(md) {
  ._titleParent {
    margin-bottom: 1rem;
  }
  ._inputRow {
    width: 100%;
    flex-direction: column;
    margin-top: 0;
  }
  ._rightMain {
    width: 100%;
    margin-bottom: 4rem;
  }
  ._buttonContainer {
    bottom: 0;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-content: center;
    right: 0;
    left: 0;
  }

  ._firstRow {
    flex-direction: column;
  }
  ._deliveryType {
    width: 100%;
    overflow: auto;
  }

  ._messageContainer {
    width: 100%;
    overflow: auto;
  }

  ._btnParent {
    margin-bottom: 1rem;
  }

  ._radioContainer {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  ._deliveryType {
    margin-bottom: 0.6rem;
  }
}
