@import '../../../public/styles/index.scss';

._background {
  @include blurBackground()
}

._title {
  font-family: $blackerTextHeavyBold;
  text-align: center;
  font-size: $blackerTextHeavy40;
  margin-bottom: 0.8rem;
}

._modal {
  padding: 3rem 2.2rem;
  box-sizing: border-box;
  width: 600px;
  max-width: 600px;
}

._input {
  @include generalInput($alto);
  font-size: $montserratBold16;
}

._inputParent {
  position: relative;

  & label {
  padding-left: 0.7rem;
  font-family: $montserratRegular;
  font-size: $montserratBold16;
  }

  &:nth-child(2) {
    margin: 1.2rem 0;
  }
}

._imageParent {
  position: absolute;
  cursor: pointer;
  right: 0.8rem;
  top: 35px;
}

._btnParent {
  width: 120px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

._hidden {
  display: none;
}

@include responsive(lg) {
  ._background {
    @include blurBackgroundResponsive();
    height: 100%;
  }
}
