
$white:             #FFFFFF;
$loaderBackground:  rgba(0,0,0,0.7);
$neonCarrot:        #FD8C2E;
$denim:             #118AC6;
$pampas:            #F4F3EE;
$red:               #FF0000;
$mineShaft:         #363636;
$doveGray:          #707070;
$timberWolf:        #D3D0CB;

