$blackerTextHeavy: 'Blacker-Text-Heavy-trial', sans-serif;
$blackerTextHeavyBold: 'Blacker-Text-Bold-trial', sans-serif;
$montserratBlack: 'Montserrat-Black', sans-serif;
$montserratBold: 'Montserrat-Bold', sans-serif;
$montserratExtraBold: 'Montserrat-ExtraBold', sans-serif;
$montserratExtraLight: 'Montserrat-ExtraLight', sans-serif;
$montserratLight: 'Montserrat-Light', sans-serif;
$montserratMedium: 'Monserrat-Medium', sans-serif;
$montserratRegular: 'Montserrat-Regular', sans-serif;
$montserratSemiBold: 'Montserrat-SemiBold', sans-serif;
$montserratThin: 'Montserrat-Thin', sans-serif;

$montserratRegular12: 0.688rem;
$montserratRegular14: 0.813rem;
$montserratRegular18: 0.875rem;
$montserratSemiBold16: 1rem;
$montserratBold11: 0.688rem;
$montserratMedium14:0.75rem;
$montserratMedium19:1.125rem;
$blackerTextHeavy18: 1rem;
$blackerTextHeavyBold60: 3rem;
