$blackTextHeavy: 'Blacker-Text-Heavy-trial', sans-serif;
$blackTextHeavyBold: 'Blacker-Text-Bold-trial', sans-serif;
$montserratBlack: 'Montserrat-Black', sans-serif;
$montserratBold: 'Montserrat-Bold', sans-serif;
$montserratExtraBold: 'Montserrat-ExtraBold', sans-serif;
$montserratExtraLight: 'Montserrat-ExtraLight', sans-serif;
$montserratLight: 'Montserrat-Light', sans-serif;
$montserratMedium: 'Monserrat-Medium', sans-serif;
$montserratRegular: 'Montserrat-Regular', sans-serif;
$montserratSemiBold: 'Montserrat-SemiBold', sans-serif;
$montserratThin: 'Montserrat-Thin', sans-serif;