$blackerTextHeavy: 'Blacker-Text-Heavy-trial', sans-serif;
$blackerTextHeavyBold: 'Blacker-Text-Bold-trial', sans-serif;
$montserratBlack: 'Montserrat-Black', sans-serif;
$montserratBold: 'Montserrat-Bold', sans-serif;
$montserratExtraBold: 'Montserrat-ExtraBold', sans-serif;
$montserratExtraLight: 'Montserrat-ExtraLight', sans-serif;
$montserratLight: 'Montserrat-Light', sans-serif;
$montserratMedium: 'Monserrat-Medium', sans-serif;
$montserratRegular: 'Montserrat-Regular', sans-serif;
$montserratSemiBold: 'Montserrat-SemiBold', sans-serif;
$montserratThin: 'Montserrat-Thin', sans-serif;

$montserratLight10: 0.688rem;
$montserratLight20: 1.063rem;
$montserratLight14: 0.813rem;
$montserratRegular10: 0.61rem;
$montserratRegular12: 0.688rem;
$montserratRegular14: 0.813rem;
$montserratRegular16: 0.875rem;
$montserratRegular18: 0.875rem;
$montserratRegular22: 1rem;
$montserratRegular24: 1.2rem;
$montserratSemiBold16: 1rem;
$montserratBold11: 0.688rem;
$montserratBold14: 0.813rem;
$montserratBold16: 0.875rem;
$montserratBold20: 1.063rem;
$montserratBold22: 1.025rem;
$montserratMedium14:0.75rem;
$montserratMedium18:1.063rem;
$montserratMedium19:1.125rem;
$montserratExtraBold22: 1.25rem;
$blackerTextHeavy16: 0.875rem;
$blackerTextHeavy18: 1rem;
$blackerTextHeavy20: 1.125rem;
$blackerTextHeavyBold60: 3rem;
$blackerTextHeavy40: 1.8rem;
$blackerTextHeavy22: 1.25rem;
