@mixin responsive($size) {
  @if $size == xxxl {
    @media (max-width: 1600px)   {
      @content;
    }
  }
	@if $size == xxl {
    @media (max-width: 1400px)   {
      @content;
    }
  }

  @if $size == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $size == lg {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $size == md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $size == sm {
    @media (max-width: 576px) {
      @content;
    }
  }

  @if $size == miniSm {
    @media (max-width: 370px) {
      @content;
    }
  }
}

@mixin blurBackground() {
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: rgba(0,0,0,0.5);
  z-index: 996;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

@mixin blurBackgroundResponsive() {
  width: 100%;
  height: calc(100vh - 3.75rem);
  background-color: rgba(0,0,0,0.5);
  z-index: 996;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

@mixin generalInput($borderColor){
  margin-top: 0.5rem;
  border: solid 1px $borderColor;
  border-radius: 1.25rem;
  width: 100%;
  height: 2.1rem;
  padding: 0 0.8rem;
  background-color: transparent;
  font-family: $montserratRegular;
  box-sizing: border-box;
}
