@import '../../../public/styles/index.scss';

._background {
  height: calc(100vh - 5rem);
  z-index: 996;
  position: fixed;
  bottom: 0px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

._modal {
  box-sizing: border-box;
  width: 18.75rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: $white;
  border-radius: 2.375rem;
}

._titleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

._cardParent {
  background-color: $pampas;
  border-radius: 38px;
  padding: 1.2rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

._bs {
  font-size: $montserratLight10;
  font-family: $montserratMedium;
}

._totalParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem 1.5rem;
  border-bottom-left-radius: 2.375rem;
  border-bottom-right-radius: 2.375rem;
  background-color: $pampas;
}

._parentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}

._parentTitle {
  font-size: $blackerTextHeavy18;
  font-family: $blackerTextHeavy;
  color: $mineShaft;
  width: 100%;
}

._parentTotal {
  font-size: $blackerTextHeavy18;
  font-family: $montserratBold;
  color: $mineShaft;
}

._number {
  font-size: $montserratBold20;
  font-family: $montserratBold;
  color: $mineShaft;
}

._btnParent {
  margin-top: 1rem;
  width: 100%;
}

._hidden {
  display: none;
}

._header {
  text-align: center;
  padding: 1.5rem 1.5rem;
}

._title {
  font-family: $blackerTextHeavyBold;
  font-size: $blackerTextHeavy40;
}
._arrowExit {
  display: none;
  cursor: pointer;
}
._subtitle {
  font-size: $montserratRegular16;
  font-family: $montserratRegular;
  margin-bottom: 1rem;
}

._description {
  font-size: $montserratRegular16;
  font-family: $montserratRegular;
  margin-bottom: 1rem;
  text-align: center;
}

._producItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

._productContainer {
  display: flex;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
  width: 100%;
}

._close {
  margin-right: 1rem;
  cursor: pointer;
}

._body {
  overflow-y: scroll;
  padding: 0 1.5rem;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  &::-webkit-scrollbar {
    width: 10px;
  }

  & ::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $black;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}

._quantityContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
._numberParent {
  display: flex;
  align-items: center;
}
._circle {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border-radius: 50%;
  cursor: pointer;

  & p {
    color: $white;
    font-family: $montserratRegular;
    font-size: $montserratMedium19;
    font-weight: bold;
  }
}
._input {
  border: solid 1px $black;
  border-radius: 1.25rem;
  width: 2rem;
  padding: 0.12rem 0.4rem;
  background-color: transparent;
  font-family: $montserratRegular;
  text-align: center;
  margin: 0 0.4rem;
  font-weight: 500;
}
._productItemTitle {
  font-size: $montserratExtraBold16;
  font-family: $montserratBold;
  color: $mineShaft;
  margin-bottom: 0.5rem;
}

._productItemSubtitle {
  font-size: $montserratRegular12;
  font-family: $montserratRegular;
  color: $black;
  text-align: left;
  margin-bottom: 0.5rem;
}

@include responsive(md) {
  ._arrowExit {
    display: block;
  }
  ._background {
    width: 100%;
    height: 100%;
  }
  ._modal {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }
  ._header {
    text-align: left;
    padding-top: 5rem;
  }
  ._body {
    height: 100%;
  }

  ._totalParent {
    padding: 2rem 1.5rem 3.5rem 1.5rem;
    flex-grow: 1;
  }
}
