@import '../../../public/styles/index.scss';

@mixin cardTitle {
  text-align: center;
  font-family: $blackerTextHeavy;
  font-size: $montserratExtraBold22;
}

@mixin circle($background) {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: solid 3px $black;
  background-color: $background;
  position: relative;
}


@mixin circleResponsive($background) {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: solid 3px $black;
  background-color: $background;
  position: relative;
}

._parent {
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  margin: auto;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  width: 85%;
}

._leftSide {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._list {
  list-style: none;
  padding: 0;

  & li {
    font-family: $montserratBold;
    font-size: $montserratRegular18;
  }
}

._orderParent {
  display: flex;
  align-items: center;


  & p {
    font-family: $blackerTextHeavy;
    font-size: $montserratExtraBold22;
    margin-right: 1.3rem;
  }
}

._input {
  border: solid 1px $gray;
  border-radius: 1.25rem;
  width: 7rem;
  height: 1.8rem;
  background-color: transparent;
  font-family: $montserratRegular;
  text-align: center;
  font-weight: 500;
  font-family: $montserratBold;
  font-size: $montserratExtraBold22;
}

._line {
  height: 3px;
  width: 80%;
  background-color: $black;
  margin-top: 2rem;
  position: relative;
}

._pointsParent {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}


._circle {
  @include circle($white);
}

._circleSelected {
  @include circle($black);
}

._text {
  font-size: $montserratRegular12;
  font-family: $montserratBold;
}

._labelParent {
  display: inline-block;
  min-width: 8rem;
  position: absolute;
  top: 170%;
  left: -175%;

  & p {
    text-align: center;
  }
}

._circles {
  display: flex;
  justify-content: space-between;
  position: relative;
}

._chickenParent {
  width: 8rem;
  position: absolute;
  left: -175%;
  transform: translateY(-120%);
}

._lineParent {
  width: 100%;
  display: flex;
  justify-content: center;
}

._btnParent {
  width: 215px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 2rem;
  & img {
    margin-left: 15px;
    cursor: pointer;
  }
}

._rightSide {
  width: 45%;
  height: 100%;
  padding-left: 5vw;
  box-sizing: border-box;
}

._card {
  height: 100%;
  width: 100%;
  background-color: $pampas;
  border-radius: 2.375rem;
  padding: 2rem 3rem;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-flow: column;

  &::-webkit-scrollbar {
    width: 7px;
    padding: 90px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 2rem 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $black;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}

._cardTitle {
  @include cardTitle;
}

._cardTitleOpacity {
  @include cardTitle;
  opacity: .3;
}


._fieldParent {
  position: relative;
  width: 100%;
  color: $gray;

  & label {
    padding-left: 0.7rem;
    font-family: $montserratRegular;
    font-size: $montserratBold16;
  }

  &:nth-child(2) {
    margin: 1.2rem 0;
  }
}

@mixin searchInput {
  @include generalInput($alto);
  font-size: $montserratBold16;
  height: 2.3rem;
  background-color: $white;
}

._searchInput {
  @include searchInput;
}

._searchInputOpacity {
  @include searchInput;
  opacity: .4;
}

._imageParent {
  position: absolute;
  cursor: pointer;
  right: 0.8rem;
  top: 18px;
}

._row {
  display: flex;
  padding: 0.6rem 0;
  align-items: center;

  & div {
    width: 25%;
    text-align: center;
    font-family: $montserratRegular;
    font-size: $montserratBold14;
  }
}

._headerText {
  font-family: $montserratBold;
  font-size: $montserratBold14;
}

._responsiveChicken, ._panelParent, ._chickenLabel{
  display: none;
}

@include responsive(lg) {
  ._rightSide {
    display: none;
  }

  ._leftSide {
    width: 100%;
  }

  ._circle {
    @include circleResponsive($white);
  }

  ._circleSelected {
    @include circleResponsive($black);
  }

  ._labelParent {
    display: none;
  }

  ._line {
    width: 100%;
  }

  ._chickenParent {
    display: none
  }

  ._responsiveChicken {
    width: 8rem;
    display: block;
  }

  ._lineParent {
    flex-direction: column;
    margin: 3rem 0 4rem 0;
  }

  ._parent {
    padding-top: 4.5rem;
    height: auto;
    padding-bottom: 0;
  }

  ._btnParent {
    margin-right: auto;
  }

  ._chickenLabel {
    font-family: $montserratBold;
    font-size: $montserratBold16;
    width: 100%;
    margin-top: 1rem;
  }

  ._panelParent, ._chickenLabel {
    display: block;
  }

  ._panelParent {
    position: relative;
    margin-top: 13rem;
  }
}

._textParent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-family: $montserratRegular;
    font-size: $montserratRegular18;
  }
}

._orderRefreshParent {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

._refreshImgParent {
  margin-left: 0.5rem;
  cursor: pointer;
}

