@import '../../../public/styles/index.scss';

._text {
  color: $white;
  font-family: $montserratRegular;
  font-size: $montserratRegular10;

  & p {
    font-weight: bold;
  }
}

._textAdvice {
  color: $white;
  font-family: $montserratRegular;
  font-size: $montserratRegular10;
  margin-right: 1.4rem;
  width: 100%;

  & p {
    font-weight: bold;

  }
}


._arrowDown {
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-top: 0.75rem solid $denim;
  position: absolute;
  bottom: -0.625rem;
  left: 1.875rem;
}

._arrowDownRight{
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-top: 0.75rem solid $denim;
  position: absolute;
  bottom: -0.625rem;
  right: 1.875rem;
}

@include responsive(lg) {
._text{
  text-align: center;
}
}
