@import '../../../../../../../public/styles/index.scss';

._addAddress{
  border-radius: 1.25rem;
  color:white;
  background-color: black;
  height: 2.1rem;
  padding: 0 1rem;
  border: solid 1px #000000;
  margin: 1rem 0;
  align-self: flex-end;
}


